*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 1200px;
 background-color: #FDFDFD;
 margin: 0px auto;
 padding: 20px;
}
#header{
 margin: 0px 0px;
 display: block;
 color: #858587;
}
#header img{
	display: inline-block;
}
#header h1{
	display: inline-block;
	vertical-align: top;
	margin-top: 8px;
	font-size: 40px;
	margin-left: 5px;
}
#header h2{
	background: rgba(42,110,153,1);
	background: -moz-linear-gradient(top, rgba(42,110,153,1) 0%, rgba(19,123,193,1) 50%, rgba(19,123,193,1) 51%, rgba(39,105,142,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(42,110,153,1)), color-stop(50%, rgba(19,123,193,1)), color-stop(51%, rgba(19,123,193,1)), color-stop(100%, rgba(39,105,142,1)));
	background: -webkit-linear-gradient(top, rgba(42,110,153,1) 0%, rgba(19,123,193,1) 50%, rgba(19,123,193,1) 51%, rgba(39,105,142,1) 100%);
	background: -o-linear-gradient(top, rgba(42,110,153,1) 0%, rgba(19,123,193,1) 50%, rgba(19,123,193,1) 51%, rgba(39,105,142,1) 100%);
	background: -ms-linear-gradient(top, rgba(42,110,153,1) 0%, rgba(19,123,193,1) 50%, rgba(19,123,193,1) 51%, rgba(39,105,142,1) 100%);
	background: linear-gradient(to bottom, rgba(42,110,153,1) 0%, rgba(19,123,193,1) 50%, rgba(19,123,193,1) 51%, rgba(39,105,142,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a6e99', endColorstr='#27698e', GradientType=0 );
	color: white;
	padding: 10px;
	margin-top: 20px;
	border-top: 1px solid #27698E;
	border-bottom: 1px solid #27698E;
}
#main_content{
 display: inline-block;
 margin-top: 10px;
 padding: 10px;
 list-style-position: inside;
 margin-left: 40px;
}
#main_content h3{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 20px;
	font-weight: bolder;
	color: #2070AD;
}
#main_content h1{
	color: #37B0ED;
}
#main_content img{
	vertical-align: top;
}
#main_content li{
	margin-bottom: 10px;
	text-indent: -1em;
	margin-left: 1em;
}
#main_content ul{
	margin-bottom: 20px;
}
#main_content p{
	margin-bottom: 20px;
}
#main_content h4{
	margin-bottom: 20px;
	font-weight: bolder;
	color: #2070AD;
}
#main_content a{
	color: #4779A3;
}
#main_content h3 a{
	text-decoration: none;
	color: #5286AF;
}
#advertisement{
 display: inline-block;
 margin-top: 70px;
 margin-left: 5px;
 vertical-align: top;
}
#advertisement h3{
	color: #3064A1;
	margin-bottom: 10px;
}
#advertisement h4{
	color: #C64B2C;
}
#advertisement a{
	text-decoration: none;
	color: #4E799B;
}
#advertisement input{
	width: 260px;
	padding: 10px;
	font-weight: bold;
	background: rgba(252,162,36,1);
	background: -moz-linear-gradient(top, rgba(252,162,36,1) 0%, rgba(225,70,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,162,36,1)), color-stop(100%, rgba(225,70,0,1)));
	background: -webkit-linear-gradient(top, rgba(252,162,36,1) 0%, rgba(225,70,0,1) 100%);
	background: -o-linear-gradient(top, rgba(252,162,36,1) 0%, rgba(225,70,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(252,162,36,1) 0%, rgba(225,70,0,1) 100%);
	background: linear-gradient(to bottom, rgba(252,162,36,1) 0%, rgba(225,70,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fca224', endColorstr='#e14600', GradientType=0 );
	border-radius: 10px;
	border: 1px solid #C14F02;
	margin-bottom: 5px;
	color: white;
}
#advertisement input:first-of-type{
	background: rgba(71,194,255,1);
	background: -moz-linear-gradient(top, rgba(71,194,255,1) 0%, rgba(22,126,188,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(71,194,255,1)), color-stop(100%, rgba(22,126,188,1)));
	background: -webkit-linear-gradient(top, rgba(71,194,255,1) 0%, rgba(22,126,188,1) 100%);
	background: -o-linear-gradient(top, rgba(71,194,255,1) 0%, rgba(22,126,188,1) 100%);
	background: -ms-linear-gradient(top, rgba(71,194,255,1) 0%, rgba(22,126,188,1) 100%);
	background: linear-gradient(to bottom, rgba(71,194,255,1) 0%, rgba(22,126,188,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47c2ff', endColorstr='#167ebc', GradientType=0 );
	border: 1px solid #3F719B;
}
#advertisement input:last-child{
	background: rgba(49,120,174,1);
	background: -moz-linear-gradient(top, rgba(49,120,174,1) 0%, rgba(19,65,100,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(49,120,174,1)), color-stop(100%, rgba(19,65,100,1)));
	background: -webkit-linear-gradient(top, rgba(49,120,174,1) 0%, rgba(19,65,100,1) 100%);
	background: -o-linear-gradient(top, rgba(49,120,174,1) 0%, rgba(19,65,100,1) 100%);
	background: -ms-linear-gradient(top, rgba(49,120,174,1) 0%, rgba(19,65,100,1) 100%);
	background: linear-gradient(to bottom, rgba(49,120,174,1) 0%, rgba(19,65,100,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3178ae', endColorstr='#134164', GradientType=0 );
	border: 1px solid #4B94C4;
	color: white;
	margin: 5px 10px;
}
#advertisement p{
	margin-bottom: 20px;
}
#advertisement p:last-of-type{
	margin-left: 40px;
	margin-bottom: 10px;
}
#login{
	display: block;
	text-align: right;
	margin-left: 400px;
	vertical-align: top;
}
#login ul{
	background-color: #F7F9F8;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid #DBDBDB;
	vertical-align: top;
}
#login li{
	display: inline;
	text-decoration: none;
	border-right: 1px solid black;
	padding-right: 10px;
	margin-left: 5px;
	color: #9C9CA7;
}
#login li:last-of-type{
	border-right: none;
}
#login input{
	display: inline-block;
	background: rgba(71,194,255,1);
	background: -moz-linear-gradient(top, rgba(71,194,255,1) 0%, rgba(22,126,188,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(71,194,255,1)), color-stop(100%, rgba(22,126,188,1)));
	background: -webkit-linear-gradient(top, rgba(71,194,255,1) 0%, rgba(22,126,188,1) 100%);
	background: -o-linear-gradient(top, rgba(71,194,255,1) 0%, rgba(22,126,188,1) 100%);
	background: -ms-linear-gradient(top, rgba(71,194,255,1) 0%, rgba(22,126,188,1) 100%);
	background: linear-gradient(to bottom, rgba(71,194,255,1) 0%, rgba(22,126,188,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47c2ff', endColorstr='#167ebc', GradientType=0 );
	border: none;
	border-radius: 5px;
	padding: 5px 20px;
	color: white;
	vertical-align: top;
	margin-top: 2px;
}
#blue {
	color: #1A82B1
}
hr{
	width:100%; height:1px; background: black;
	margin-bottom: 10px;
}
#ad {
	background-image: url("left_content_ad.png");
	display: block;
	padding: 5px 0px 75px 5px;
	margin: 20px 33px 0px 33px;
	border: 1px solid #878787;
}
#ad h5{
	margin-left: 10px;
}
#ad input{
	padding: 5px;
	width: 170px;
}
.bold{
	font-weight: bold;
}
#number{
	display: inline-block;
	color: #989898;
}
#push{
	margin-left: 540px;
}
#push img{
	vertical-align: top;
	margin-right: 10px;
}
#center_ad{
	border: 5px solid #95B7C4;
	margin-bottom: 10px;
	padding: 5px;
}
#center_ad img{
	margin-left: 5px;
}
.why{
	display: inline-block;
	margin-left: 10px;
}
.why input{
	background: rgba(200,224,111,1);
	background: -moz-linear-gradient(top, rgba(200,224,111,1) 0%, rgba(144,177,10,1) 50%, rgba(144,177,10,1) 51%, rgba(200,224,111,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(200,224,111,1)), color-stop(50%, rgba(144,177,10,1)), color-stop(51%, rgba(144,177,10,1)), color-stop(100%, rgba(200,224,111,1)));
	background: -webkit-linear-gradient(top, rgba(200,224,111,1) 0%, rgba(144,177,10,1) 50%, rgba(144,177,10,1) 51%, rgba(200,224,111,1) 100%);
	background: -o-linear-gradient(top, rgba(200,224,111,1) 0%, rgba(144,177,10,1) 50%, rgba(144,177,10,1) 51%, rgba(200,224,111,1) 100%);
	background: -ms-linear-gradient(top, rgba(200,224,111,1) 0%, rgba(144,177,10,1) 50%, rgba(144,177,10,1) 51%, rgba(200,224,111,1) 100%);
	background: linear-gradient(to bottom, rgba(200,224,111,1) 0%, rgba(144,177,10,1) 50%, rgba(144,177,10,1) 51%, rgba(200,224,111,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8e06f', endColorstr='#c8e06f', GradientType=0 );
	padding: 10px 40px;
	border: 2px solid #5F8519;
	border-radius: 10px;
	color: white;
	font-weight: bold;
	margin-bottom: 5px;
}